http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac/search?collections=MOD13Q1&datetime=2019-09-01/2019-11-01&bbox=-55.16335,-4.26325,-49.31739,-1.18355&limit=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[],"links":[],"numberMatched":908,"numberReturned":0,"type":"FeatureCollection"}
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","links":[{"href":"http://brazildatacube.dpi.inpe.br/stac","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64","rel":"child","title":"C4_64"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_16D_MED","rel":"child","title":"C4_64_16D_MED"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_16D_STK","rel":"child","title":"C4_64_16D_STK"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_1M_MED","rel":"child","title":"C4_64_1M_MED"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_1M_STK","rel":"child","title":"C4_64_1M_STK"}[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac/search?collections=MOD13Q1&datetime=2019-09-01/2019-11-01&bbox=-55.16335,-4.26325,-49.31739,-1.18355&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_blue.tif"},"evi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_evi.tif"},"ndvi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_ndvi.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_nir.tif"},"red":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_red.tif"},"reliability":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_reliability.tif"},"swir2":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_swir2.tif"},"thumbnail":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918.png"}},"bbox":[-60.9255967131447,-10.0,-50.0,0.0],"collection":"MOD13Q1","geometry":{"coordinates":[[[[-60,0],[-50,0],[-50.771330594,-10],[-60.925596713,-10],[-60,0]]]],"type":"MultiPolygon"},"id":"MOD13Q1.A2019305.h12v09.006.2019323201918","links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1/items/MOD13Q1.A2019305.h12v09.006.2019323201918","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1","rel":"parent"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1","rel":"collection"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac","rel":"root"}],"properties":{"bdc:tile":"012009","datetime":"2019-11-01"},"stac_version":"0.8.0","type":"Feature"}],"links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac/search?collections=MOD13Q1&datetime=2019-09-01%2F2019-11-01&bbox=-55.16335%2C-4.26325%2C-49.31739%2C-1.18355&limit=1&page=2","rel":"next"}],"numberMatched":908,"numberReturned":1,"type":"FeatureCollection"}
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918.png
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: image/png
      last-modified: Fri, 22 Nov 2019 13:48:57 GMT
      etag: '"5dd7e749-15c9b4"'
    body:
      encoding: UTF-8
      file: yes
      string: ./MOD13Q1.A2019305.h12v09.006.2019323201918_thumbnail.png
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search?collections=MOD13Q1&datetime=2019-09-01/2019-11-01&bbox=-55.16335,-4.26325,-49.31739,-1.18355&limit=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"code":404,"description":"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."}
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        [{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac//","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac//docs","rel":"service"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac//conformance","rel":"conformance"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac//collections","rel":"data"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac","rel":"data"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac/search","rel":"search"}]
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search?collections=CB4_64-1&datetime=2019-09-01/..&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/stac/search?collections=CB4_64-1&datetime=2019-09-01%2F..&limit=1&page=2","rel":"next"}],"context":{"matched":17505,"returned":1},"features":[{"type":"Feature","id":"CB4_64_022024_2019-12-31","collection":"CB4_64-1","stac_version":"0.9.0","stac_extensions":["eo"],"geometry":{"type":"Polygon","coordinates":[[[-48.190393422,-12.145398827],[-41.859517164,-11.913450402],[-41.634172736,-15.772942865],[-48.082397258,-16.008711957],[-48.190393422,-12.145398827]]]},"bbox":[-48.1903934215266,-16.0087119571024,-41.6341727355957,-11.9134504016037],"properties":{"bdc:tile":"022024","datetime":"2019-12-31T00:00:00","created":"2020-08-12T11:52:18","updated":"2020-08-12T11:52:18","eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND14","common_name":"green","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND15","common_name":"red","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND16","common_name":"nir","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"CMASK","common_name":"quality","min":0.0,"max":4.0,"nodata":255.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"NDVI","common_name":"ndvi","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"EVI","common_name":"evi","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"eo:cloud_cover":95.0},"assets":{"EVI":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_EVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[6]},"NDVI":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_NDVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[5]},"CMASK":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_CMASK.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[4]},"BAND13":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND13.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[0]},"BAND14":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND14.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[1]},"BAND15":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND15.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[2]},"BAND16":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND16.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[3]},"thumbnail":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31.png","type":"image/png"}},"links":[{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4_64-1/items/CB4_64_022024_2019-12-31","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4_64-1","rel":"parent"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4_64-1","rel":"collection"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/stac","rel":"root"}]}]}
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31.png
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 403
      category: Client error
      reason: Forbidden
      message: 'Client error: (403) Forbidden'
    headers:
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: yes
      string: ./CB4_64_022024_2019-12-31_thumbnail.png
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//search?collections=CB4_64-1&datetime=2019-09-01/..&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"http://b[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//search?collections=MOD13Q1&datetime=2019-09-01/2019-11-01&bbox=-55.16335,-4.26325,-49.31739,-1.18355&limit=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":0,"returned":0},"features":[]}
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"http://brazildatacu[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"http://brazildatacube.dpi.i[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&datetime=2019-09-01/2019-11-01&bbox=-47.02148,-12.98314,-42.53906,-17.35063&limit=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":10,"returned":0},"features":[]}
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&datetime=2019-09-01/2019-11-01&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"http://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&datetime=2019-09-01%2F2019-11-01&limit=1&page=2","rel":"next"}],"context":{"matched":85,"returned":1},"features":[{"type":"Feature","id":"CB4_64_16D_STK_v001_021027_2019-11-01_2019-11-16","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-47.735397,-26.882327],[-47.83099,-22.873503],[-54.363335,-22.936682],[-54.368967,-26.947548],[-47.735397,-26.882327]]]},"bbox":[-54.368967,-26.947548,-47.735397,-22.873503],"properties":{"bdc:tile":"021027","datetime":"2019-11-01T00:00:00","start_datetime":"2019-11-01T00:00:00","end_datetime":"2019-11-16T00:00:00","created":"2020-09-09T12:53:57","updated":"2020-09-09T12:53:57","eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","description":null,"min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND14","common_name":"green","description":null,"min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND15","common_name":"red","description":null,"min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND16","common_name":"nir","descriptio[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search?collections=CB4_64_16D_STK-1&datetime=2019-09-01/2019-11-01&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/Repository/Mosaic/CB4_64_16D_STK/v1/020024/2019-11-01_2019-11-16/CB4_64_16D_STK_v1_020024_2019-11-01_2019-11-16.png
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: yes
      string: ./CB4_64_16D_STK_v1_020024_2019-11-01_2019-11-16_thumbnail.png
  recorded_at: 2022-01-26 18:11:20 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://brazildatacube.org/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link:
      - <http://brazildatacube.org/wp-json/>; rel="https://api.w.org/"
      - <http://brazildatacube.org/wp-json/wp/v2/pages/44>; rel="alternate"; type="application/json"
      - <http://brazildatacube.org/>; rel=shortlink
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"pt-BR\" class=\"no-js no-svg\">\n<head>\n\t<!--
        Global site tag (gtag.js) - Google Analytics -->\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-151888689-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-151888689-1');\n</script>\n\n<meta
        charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n<script>(function(html){html.className
        = html.className.replace(/\\bno-js\\b/,'js')})(document.documentElement);</script>\n<title>Brazil
        Data Cube &#8211; Plataforma para Análise e Visualização de Grandes Volumes
        de Dados Geoespaciais</title>\n<link rel=\"alternate\" href=\"http://brazildatacube.org/\"
        hreflang=\"pt\" />\n<link rel=\"alternate\" href=\"http://brazildatacube.org/en/home-page/\"
        hreflang=\"en\" />\n<link rel='dns-prefetch' href='//fonts.googleapis.com'
        />\n<link rel='dns-prefetch' href='//s.w.org' />\n<link href='https://fonts.gstatic.com'
        crossorigin rel='preconnect' />\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Feed para Brazil Data Cube &raquo;\" href=\"http://brazildatacube.org/feed/\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Feed de comentários
        para Brazil Data Cube &raquo;\" href=\"http://brazildatacube.org/comments/feed/\"
        />\n\t\t<script type=\"text/javascript\">\n\t\t\twindow._wpemojiSettings =
        {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.0.1\\/72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.0.1\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\":\"http:\\/\\/brazildatacube.org\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=5.6.6\"}};\n\t\t\t!function(e,a,t){var
        n,r,o,i=a.createElement(\"canvas\"),p=i.getContext&&i.getContext(\"2d\");function
        s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return
        p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function
        c(e){var t=a.createElement(\"script\");t.src=e,t.defer=t.type=\"text/javascript\",a.getElementsByTagName(\"head\")[0].appendChild(t)}for(o=Array(\"flag\",\"emoji\"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline=\"top\",p.font=\"600
        32px Arial\",e){case\"flag\":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case\"emoji\":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],\"flag\"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener(\"DOMContentLoad[...]
[...]
