http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","links":[{"href":"http://brazildatacube.dpi.inpe.br/stac","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64","rel":"child","title":"C4_64"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_16D_MED","rel":"child","title":"C4_64_16D_MED"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_16D_STK","rel":"child","title":"C4_64_16D_STK"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_1M_MED","rel":"child","title":"C4_64_1M_MED"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_1M_STK","rel":"child","title":"C4_64_1M_STK"}[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac/search?collections=MOD13Q1&datetime=2019-09-01/2019-11-01&bbox=-55.16335,-4.26325,-49.31739,-1.18355&limit=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[],"links":[],"numberMatched":908,"numberReturned":0,"type":"FeatureCollection"}
  recorded_at: 2020-07-23 22:02:53 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac/search?collections=MOD13Q1&datetime=2019-09-01/2019-11-01&bbox=-55.16335,-4.26325,-49.31739,-1.18355&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_blue.tif"},"evi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_evi.tif"},"ndvi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_ndvi.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_nir.tif"},"red":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_red.tif"},"reliability":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_reliability.tif"},"swir2":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_swir2.tif"},"thumbnail":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918.png"}},"bbox":[-60.9255967131447,-10.0,-50.0,0.0],"collection":"MOD13Q1","geometry":{"coordinates":[[[[-60,0],[-50,0],[-50.771330594,-10],[-60.925596713,-10],[-60,0]]]],"type":"MultiPolygon"},"id":"MOD13Q1.A2019305.h12v09.006.2019323201918","links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1/items/MOD13Q1.A2019305.h12v09.006.2019323201918","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1","rel":"parent"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1","rel":"collection"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac","rel":"root"}],"properties":{"bdc:tile":"012009","datetime":"2019-11-01"},"stac_version":"0.8.0","type":"Feature"}],"links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac/search?collections=MOD13Q1&datetime=2019-09-01%2F2019-11-01&bbox=-55.16335%2C-4.26325%2C-49.31739%2C-1.18355&limit=1&page=2","rel":"next"}],"numberMatched":908,"numberReturned":1,"type":"FeatureCollection"}
  recorded_at: 2020-07-23 22:02:53 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
