http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_64_16D_STK-1"],"limit":"1","query":{"bdc:tile":{"eq":"021027"}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["CB4_64_16D_STK-1"],"limit":"1","query":{"bdc:tile":{"eq":"021027"}},"page":2},"method":"POST","merge":true}],"context":{"matched":118,"returned":1},"features":[{"type":"Feature","id":"CB4_64_16D_STK_v001_021027_2021-02-02_2021-02-17","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-47.735247,-26.882102],[-47.830837,-22.8735],[-54.363335,-22.936682],[-54.368967,-26.947327],[-47.735247,-26.882102]]]},"bbox":[-54.368967,-26.947327,-47.735247,-22.8735],"properties":{"bdc:tiles":["021027"],"datetime":"2021-02-02T00:00:00","start_datetime":"2021-02-02T00:00:00","end_datetime":"2021-02-17T00:00:00","created":"2021-03-08T08:56:58","updated":"2021-03-08T08:56:58","eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND14","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.555,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND15","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.66,"full_width_half_max":0.06,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wave[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1/items/CB4_64_16D_STK_v001_022023_2020-07-11_2020-07-26
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"Feature","id":"CB4_64_16D_ST[...]
