http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10&page=2","rel":"next"}],"context":{"matched":5774,"returned":10},"features":[{"type":"Feature","id":"CB4_64_16D_STK_v001_017022_2021-02-02_2021-02-17","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-72.786163,-6.606189],[-72.520538,-2.668068],[-78.554605,-2.20105],[-78.905975,-6.136759],[-72.786163,-6.606189]]]},"bbox":[-78.905975,-6.606189,-72.520538,-2.20105],"properties":{"bdc:tiles":["017022"],"datetime":"2021-02-02T00:00:00","start_datetime":"2021-02-02T00:00:00","end_datetime":"2021-02-17T00:00:00","created":"2021-03-06T12:35:43","updated":"2021-03-06T12:35:43","eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND14","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.555,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND15","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.66,"full_width_half_max":0.06,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wave[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1/items/CB4_64_16D_STK_v001_019022_2021-02-02_2021-02-17
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"Feature","id":"CB4_64_16D_ST[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1&limit=500
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":1,"returned":1},"features":[{"type":"Feature","id":"LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31","collection":"LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-48.174352,-18.060744],[-48.192448,-16.13921],[-51.437482,-16.141167],[-51.451873,-18.062721],[-48.174352,-18.060744]]]},"bbox":[-51.451873,-18.062721,-48.174352,-16.13921],"properties":{"bdc:tiles":[null],"datetime":"2018-09-01T00:00:00","start_datetime":"2018-09-01T00:00:00","end_datetime":"2019-08-31T00:00:00","created":"2020-12-18T12:52:23","updated":"2020-12-18T12:52:23","eo:gsd":64.0,"eo:bands":[{"name":"lcc","common_name":"lcc","description":"This is a classification.","min":1.0,"max":4.0,"nodata":-9999.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"eo:cloud_cover":null,"instruments":["AWFI"],"platform":"CBERS-4"},"assets":{"lcc":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Classify/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA/v001/043050/2018-09-01_2019-08-31/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-09T23:59:59","updated":"2020-11-09T23:59:59","eo:bands":[0]},"thumbnail":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Classify/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA/v001/043050/2018-09-01_2019-08-31/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31.png","type":"image/png","roles":["thumbnail"],"created":"2020-11-09T23:59:59","updated":"2020-11-09T23:59:59"}},"links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1/items/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31","rel":"self"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","rel":"parent"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","rel":"collection"},{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"root"}]}]}
  recorded_at: 2021-10-23 01:56:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"CBERS-4 - AWFI - Cube Stack 16 days - v001","version":1,"deprecated":false,"description":"This datacube was generated with all available surface reflectance images from CB4_64 cube. The data is provided with 64 meters of spatial resolution, reprojected and cropped to BDC_LG grid, considering a temporal compositing function of 16 days using the best pixel approach (Stack).","license":"","properties":{"eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND14","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.555,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND15","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata"[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10&page=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.[...]
[...]
