http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10&page=2","rel":"next"}],"context":{"matched":6917,"returned":10},"features":[{"type":"Feature","id":"CB4_64_16D_STK_v001_024023_2022-02-02_2022-02-17","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-29.421792,-10.103819],[-29.773594,-6.195687],[-35.895562,-6.650468],[-35.632066,-10.563075],[-29.421792,-10.103819]]]},"bbox":[-35.895562,-10.563075,-29.421792,-6.195687],"properties":{"bdc:tiles":["024023"],"datetime":"2022-02-02T00:00:00","start_datetime":"2022-02-02T00:00:00","end_datetime":"2022-02-17T00:00:00","created":"2022-03-10T18:26:48","updated":"2022-03-10T18:26:48","eo:gsd":64.0,"eo:bands":[{"name":"NDVI","common_name":"ndvi","description":"Normalized Difference Vegetation Index","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"Band 16 (nir)","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.83,"full_width_half_max":0.12,"data_type":"int16"},{"name":"CMASK","common_name":"quality","description":"Cloud Mask","min":0.0,"max":255.0,"nodata":0.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"BAND13","common_name":"blue","description":"Band 13 (blue)","min":0.0,"max":10000.0,"nodata":-9999.[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&datetime=2017-01-01%2F2017-03-01&bbox=-52.5732%2C-12.5975%2C-51.4893%2C-11.6522&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
     [...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_64_16D_STK-1"],"datetime":"2017-01-01/2017-03-01","intersects":{"type":"Polygon","coordinates":[[[-52.5732,-12.5975],[-51.4893,-12.5975],[-51.4893,-11.6522],[-52.5732,-11.6522],[-52.5732,-12.5975]]]},"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["CB4_64_16D_STK-1"],"datetime":"2017-01-01/2017-03-01","intersects":{"type":"Polygon","coordinates":[[[-52.5732,-12.5975],[-51.4893,-12.5975],[-51.4893,-11.6522],[-52.5732,-11.6522],[-52.5732,-12.5975]]]},"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":4,"returned":1},"features":[{"type":"Feature","id":"CB4_64_16D_STK_v001_021024_2017-02-18_2017-03-05","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-48.013685,-14.994279],[-48.101034,-11.082391],[-54.347426,-11.141792],[-54.352572,-15.054605],[-48.013685,-14.994279]]]},"bbox":[-54.352572,-15.054605,-48.013685,-11.082391],"properties":{"bdc:tiles":["021024"],"datetime":[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_64_16D_STK-1"],"limit":"10","query":{"bdc:tile":{"in":["022024"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["CB4_64_16D_STK-1"],"limit":"10","query":{"bdc:tile":{"in":["[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1/items/CB4_64_16D_STK_v001_019022_2021-02-02_2021-02-17
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"Feature","id":"CB4_64_16D_ST[...]
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-beta.4/core","https://api.stacspec.org/v1.0.0-beta.4/item-search","https://api.stacspec.org/v1.0.0-beta.4/item-search#filter:basic-cql","https://api.stacspec.org/v1.0.0-beta.4/item-search#filter:cql-json","https://api.stacspec.org/v1.0.0-beta.4/item-search#filter:filter","htt[...]
- request:
    method: post
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
    body:
      encoding: ''
      string: '{"collections":["sentinel-2-l2a"],"datetime":"2020-01-01/2020-01-31","limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/geo+json
    body:
      encoding: UTF-8
      file: no
   [...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1&limit=500
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":1,"returned":1},"features":[{"type":"Feature","id":"LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31","collection":"LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-48.174352,-18.060744],[-48.192448,-16.13921],[-51.437482,-16.141167],[-51.451873,-18.062721],[-48.174352,-18.060744]]]},"bbox":[-51.451873,-18.062721,-48.174352,-16.13921],"properties":{"bdc:tiles":[null],"datetime":"2018-09-01T00:00:00","start_datetime":"2018-09-01T00:00:00","end_datetime":"2019-08-31T00:00:00","created":"2020-12-18T12:52:23","updated":"2020-12-18T12:52:23","eo:gsd":64.0,"eo:bands":[{"name":"lcc","common_name":"lcc","description":"This is a classification.","min":1.0,"max":4.0,"nodata":-9999.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"eo:cloud_cover":null,"instruments":["AWFI"],"platform":"CBERS-4"},"assets":{"lcc":{"href":"https://brazildatacube.dpi.inpe.br/thematic/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA/v001/043050/2018-09-01_2019-08-31/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-09T23:59:59","updated":"2020-11-09T23:59:59","eo:bands":[0]},"thumbnail":{"href":"https://brazildatacube.dpi.inpe.br/thematic/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA/v001/043050/2018-09-01_2019-08-31/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31.png","type":"image/png","roles":["thumbnail"],"created":"2020-11-09T23:59:59","updated":"2020-11-09T23:59:59"}},"links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1/items/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31","rel":"self"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","rel":"parent"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","rel":"collection"},{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"root"}]}]}
  recorded_at: 2022-03-26 18:17:08 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: post
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
    body:
      encoding: ''
      string: '{"collections":["io-lulc"],"limit":"1","query":{"io:tile_id":{"in":["60W"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/geo+json
    body:
      encoding: UTF-8
      file: no
      string: '{"type":"FeatureCollection","features":[{"id":"60W-2020","bbox":[-180.0,62.09090772,180.0,72.09958113],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc/items/60W-2020"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=io-lulc&item=60W-2020","title":"Map
        of item","type":"text/html"}],"assets":{"data":{"href":"https://ai4edataeuwest.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/60W_20200101-20210101.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"file:size":126064760,"file:values":[{"values":[0],"summary":"No
        Data"},{"values":[1],"summary":"Water"},{"values":[2],"summary":"Trees"},{"values":[3],"summary":"Grass"},{"values":[4],"summary":"Flooded
        vegetation"},{"values":[5],"summary":"Crops"},{"values":[6],"summary":"Scrub/shrub"},{"values":[7],"summary":"Built
        area"},{"values":[8],"summary":"Bare ground"},{"values":[9],"summary":"Snow/ice"},{"values":[10],"summary":"Clouds"}],"raster:bands":[{"nodata":0,"spatial_resolution":10}]},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=io-lulc&item=60W-2020&assets=data&colormap_name=io-lulc","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=io-lulc&item=60W-2020&assets=data&colormap_name=io-lulc","roles":["overview"],"type":"image/png"}},"geometry":{"type":"MultiPolygon","coordinates":[[[[180.0,63.0936231],[180.0,63.0058371],[180.0,63.0057861],[180.0,62.1076299],[180.0,62.1074598],[179.9959083,62.1075476],[179.1685297,62.0909077],[179.1640064,62.1254104],[178.9176451,62.1307003],[178.9185406,62[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"CBERS-4 - AWFI - Cube Stack 16 days - v001","version":1,"deprecated":false,"description":"This datacube was generated with all available surface reflectance images from CB4_64 cube. The data is provided with 64 meters of spatial resolution, reprojected and cropped to BDC_LG grid, considering a temporal compositing function of 16 days using the best pixel approach (Stack).","license":"","properties":{"eo:gsd":64.0,"eo:bands":[{"name":"NDVI","common_name":"ndvi","description":"Normalized Difference Vegetation Index","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"Band 16 (nir)","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.83,"full_width_half_max":0.12,"data_type":"int16"},{"name":"CMASK","common_name":"quali[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&datetime=2017-01-01%2F2017-03-01&bbox=-52.5732%2C-11.6522%2C-51.4893%2C-12.5975&limit=1&page=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: [...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10&page=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.[...]
[...]
