http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac/search?collections=MOD13Q1&bbox=-55.16335,-4.26325,-49.31739,-1.18355&limit=500
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_blue.tif"},"evi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_evi.tif"},"ndvi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_ndvi.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_nir.tif"},"red":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_red.tif"},"reliability":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_reliability.tif"},"swir2":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918_swir2.tif"},"thumbnail":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h12v09.006.2019323201918/MOD13Q1.2019-11-01.h12v09.006.2019323201918.png"}},"bbox":[-60.9255967131447,-10.0,-50.0,0.0],"collection":"MOD13Q1","geometry":{"coordinates":[[[[-60,0],[-50,0],[-50.771330594,-10],[-60.925596713,-10],[-60,0]]]],"type":"MultiPolygon"},"id":"MOD13Q1.A2019305.h12v09.006.2019323201918","links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1/items/MOD13Q1.A2019305.h12v09.006.2019323201918","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1","rel":"parent"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1","rel":"collection"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac","rel":"root"}],"properties":{"bdc:tile":"012009","datetime":"2019-11-01"},"stac_version":"0.8.0","type":"Feature"},{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h13v09.006.2019323202611/MOD13Q1.2019-11-01.h13v09.006.2019323202611_blue.tif"},"evi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305.h13v09.006.2019323202611/MOD13Q1.2019-11-01.h13v09.006.2019323202611_evi.tif"},"ndvi":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Archive/MOD13Q1/2019-11/MOD13Q1.A2019305[...]
