http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search?collections=CB4_64_16D_STK-1&limit=10&page=2","rel":"next"}],"context":{"matched":6819,"returned":10},"features":[{"type":"Feature","id":"CB4_64_16D_STK_v001_021020_2022-01-01_2022-01-16","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-48.34843,0.759893],[-48.426349,4.8025],[-54.328261,4.743987],[-54.332851,0.701572],[-48.34843,0.759893]]]},"bbox":[-54.332851,0.701572,-48.34843,4.8025],"properties":{"bdc:tiles":["021020"],"datetime":"2022-01-01T00:00:00","start_datetime":"2022-01-01T00:00:00","end_datetime":"2022-01-16T00:00:00","created":"2022-02-17T14:49:01","updated":"2022-02-17T14:49:01","eo:gsd":64.0,"eo:bands":[{"name":"NDVI","common_name":"ndvi","description":"Normalized Difference Vegetation Index","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"Band 16 (nir)","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.83,"full_width_half_max":0.12,"data_type":"int16"},{"name":"CMASK","common_name":"quality","description":"Cloud Mask","min":0.0,"max":255.0,"nodata":0.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"BAND13","common_name":"blue","description":"Band 13 (blue)","min":0.0,"max":10000.0,"nodata":-9999.[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_64_16D_STK-1"],"limit":"10","query":{"bdc:tile":{"in":["022024"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["CB4_64_16D_STK-1"],"limit":"10","query":{"bdc:tile":{"in":["022024"]}},"page":2},"method":"POST","merge":true}],"context":{"matched":139,"returned":10},"features":[{"type":"Feature","id":"CB4_64_16D_STK_v001_022024_2022-01-01_2022-01-16","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-41.680938,-14.798316],[-41.860518,-10.889402],[-48.101034,-11.082391],[-48.013685,-14.994279],[-41.680938,-14.798316]]]},"bbox":[-48.101034,-14.994279,-41.680938,-10.889402],"properties":{"bdc:tiles":["022024"],"datetim[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1/items/CB4_64_16D_STK_v001_019022_2021-02-02_2021-02-17
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"Feature","id":"CB4_64_16D_ST[...]
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-beta.4/core","https://api.stacspec.org/v1.0.0-beta.4/item-search","https://api.stacspec.org/v1.0.0-beta.4/item-search#filter:basic-cql","https://api.stacspec.org/v1.0.0-beta.4/item-search#filter:cql-json","https://api.stacspec.org/v1.0.0-beta.4/item-search#filter:filter","htt[...]
- request:
    method: post
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
    body:
      encoding: ''
      string: '{"collections":["sentinel-2-l2a"],"datetime":"2020-01-01/2020-01-31","limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/geo+json
    body:
      encoding: UTF-8
      file: no
   [...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/search?collections=LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1&limit=500
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":1,"returned":1},"features":[{"type":"Feature","id":"LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31","collection":"LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-48.174352,-18.060744],[-48.192448,-16.13921],[-51.437482,-16.141167],[-51.451873,-18.062721],[-48.174352,-18.060744]]]},"bbox":[-51.451873,-18.062721,-48.174352,-16.13921],"properties":{"bdc:tiles":[null],"datetime":"2018-09-01T00:00:00","start_datetime":"2018-09-01T00:00:00","end_datetime":"2019-08-31T00:00:00","created":"2020-12-18T12:52:23","updated":"2020-12-18T12:52:23","eo:gsd":64.0,"eo:bands":[{"name":"lcc","common_name":"lcc","description":"This is a classification.","min":1.0,"max":4.0,"nodata":-9999.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"eo:cloud_cover":null,"instruments":["AWFI"],"platform":"CBERS-4"},"assets":{"lcc":{"href":"https://brazildatacube.dpi.inpe.br/thematic/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA/v001/043050/2018-09-01_2019-08-31/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-09T23:59:59","updated":"2020-11-09T23:59:59","eo:bands":[0]},"thumbnail":{"href":"https://brazildatacube.dpi.inpe.br/thematic/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA/v001/043050/2018-09-01_2019-08-31/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31.png","type":"image/png","roles":["thumbnail"],"created":"2020-11-09T23:59:59","updated":"2020-11-09T23:59:59"}},"links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1/items/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA_v001_043050_2018-09-01_2019-08-31","rel":"self"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","rel":"parent"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/LCC_C4_64_1M_STK_GO_PA-SPC-AC-NA-1","rel":"collection"},{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"root"}]}]}
  recorded_at: 2022-03-08 20:48:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
