http_interactions:
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"microsoft-pc","title":"Microsoft Planetary Computer STAC API","description":"Searchable
        spatiotemporal metadata describing Earth science datasets hosted by the Microsoft
        Planetary Computer","conformsTo":["https://api.stacspec.org/v1.0.0-beta.2/core","https://api.stacspec.org/v1.0.0-beta.2/item-search","https://api.stacspec.org/v1.0.0-beta.2/item-search#query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson"],"stac_version":"1.0.0","links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"docs","type":"text/html","title":"OpenAPI
        docs","href":"https://planetarycomputer.microsoft.com/api/stac/v1/docs"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://planetarycomputer.microso[...]
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search?collections=landsat-8-c2-l2&bbox=-47.02148%2C-12.98314%2C-42.53906%2C-17.35063&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"type":"FeatureCollection","links":[{"rel":"next","type":"application/json","method":"GET","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search?collections=landsat-8-c2-l2&bbox=-47.02148,-12.98314,-42.53906,-17.35063&limit=1&token=next:LC08_L2SP_217071_20210909_02_T1"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search?collections=landsat-8-c2-l2&bbox=-47.02148%2C-12.98314%2C-42.53906%2C-17.35063&limit=1"}],"features":[{"id":"LC08_L2SP_217072_20210909_02_T1","bbox":[-43.171341946355675,-18.422385527800042,-40.96008967097743,-16.270084472199954],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2/items/LC08_L2SP_217072_20210909_02_T1"},{"rel":"alternate","href":"https://landsatlook.usgs.gov/stac-browser/collection02/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_02_T1","type":"text/html","title":"USGS
        stac-browser page"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=landsat-8-c2-l2&item=LC08_L2SP_217072_20210909_02_T1","title":"Map
        of item","type":"text/html"}],"assets":{"ANG":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ANG.txt","type":"text/plain","title":"Angle
        Coefficients File","description":"Collection 2 Level-1 Angle Coefficients
        File (ANG)"},"SR_B1":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_B1.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Coastal/Aerosol Band
        (B1)","eo:bands":[{"gsd":30,"name":"SR_B1","common_name":"coastal","center_wavelength":0.44,"full_width_half_max":0.02}],"proj:shape":[7831,7721],"description":"Collection
        2 Level-2 Coastal/Aerosol Band (B1) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"SR_B2":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_B2.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Blue Band (B2)","eo:bands":[{"gsd":30,"name":"SR_B2","common_name":"blue","center_wavelength":0.48,"full_width_half_max":0.06}],"proj:shape":[7831,7721],"description":"Collection
        2 Level-2 Blue Band (B2) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"SR_B3":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_B3.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Green Band (B3)","eo:bands":[{"gsd":30,"name":"SR_B3","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.06}],"proj:shape":[7831,7721],"description":"Collection
        2 Level-2 Green Band (B3) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"SR_B4":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_B4.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red Band (B4)","eo:bands":[{"gsd":30,"name":"SR_B4","common_name":"red","center_wavelength":0.65,"full_width_half_max":0.04}],"proj:shape":[7831,7721],"description":"Collection
        2 Level-2 Red Band (B4) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"SR_B5":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_B5.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Near Infrared Band
        0.8 (B5)","eo:bands":[{"gsd":30,"name":"SR_B5","common_name":"nir08","center_wavelength":0.86,"full_width_half_max":0.03}],"proj:shape":[7831,7721],"description":"Collection
        2 Level-2 Near Infrared Band 0.8 (B5) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"SR_B6":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_B6.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Short-wave Infrared
        Band 1.6 (B6)","eo:bands":[{"gsd":30,"name":"SR_B6","common_name":"swir16","center_wavelength":1.6,"full_width_half_max":0.08}],"proj:shape":[7831,7721],"description":"Collection
        2 Level-2 Short-wave Infrared Band 1.6 (B6) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"SR_B7":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_B7.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Short-wave Infrared
        Band 2.2 (B7)","eo:bands":[{"gsd":30,"name":"SR_B7","common_name":"swir22","center_wavelength":2.2,"full_width_half_max":0.2}],"proj:shape":[7831,7721],"description":"Collection
        2 Level-2 Short-wave Infrared Band 2.2 (B7) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_QA":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_QA.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Surface Temperature
        Quality Assessment Band","proj:shape":[7831,7721],"description":"Landsat Collection
        2 Level-2 Surface Temperature Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_B10":{"gsd":100.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_B10.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Surface Temperature
        Band (B10)","eo:bands":[{"gsd":100.0,"name":"ST_B10","common_name":"lwir11","center_wavelength":10.9,"full_width_half_max":0.8}],"proj:shape":[7831,7721],"description":"Landsat
        Collection 2 Level-2 Surface Temperature Band (B10) Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"MTL.txt":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_MTL.txt","type":"text/plain","title":"Product
        Metadata File","description":"Collection 2 Level-1 Product Metadata File (MTL)"},"MTL.xml":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_MTL.xml","type":"application/xml","title":"Product
        Metadata File (xml)","description":"Collection 2 Level-1 Product Metadata
        File (xml)"},"ST_DRAD":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_DRAD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Downwelled Radiance
        Band","eo:bands":[{"gsd":30,"name":"ST_DRAD","description":"downwelled radiance"}],"proj:shape":[7831,7721],"description":"Landsat
        Collection 2 Level-2 Downwelled Radiance Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_EMIS":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_EMIS.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Emissivity Band","eo:bands":[{"gsd":30,"name":"ST_EMIS","description":"emissivity"}],"proj:shape":[7831,7721],"description":"Landsat
        Collection 2 Level-2 Emissivity Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_EMSD":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_EMSD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Emissivity Standard
        Deviation Band","eo:bands":[{"gsd":30,"name":"ST_EMSD","description":"emissivity
        standard deviation"}],"proj:shape":[7831,7721],"description":"Landsat Collection
        2 Level-2 Emissivity Standard Deviation Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_TRAD":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_TRAD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Thermal Radiance Band","eo:bands":[{"gsd":30,"name":"ST_TRAD","description":"thermal
        radiance"}],"proj:shape":[7831,7721],"description":"Landsat Collection 2 Level-2
        Thermal Radiance Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_URAD":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_URAD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Upwelled Radiance Band","eo:bands":[{"gsd":30,"name":"ST_URAD","description":"upwelled
        radiance"}],"proj:shape":[7831,7721],"description":"Landsat Collection 2 Level-2
        Upwelled Radiance Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"MTL.json":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_MTL.json","type":"application/json","title":"Product
        Metadata File (json)","description":"Collection 2 Level-1 Product Metadata
        File (json)"},"QA_PIXEL":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_QA_PIXEL.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Pixel Quality Assessment
        Band","proj:shape":[7831,7721],"description":"Collection 2 Level-1 Pixel Quality
        Assessment Band","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_ATRAN":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_ATRAN.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Atmospheric Transmittance
        Band","eo:bands":[{"gsd":30,"name":"ST_ATRAN","description":"atmospheric transmission"}],"proj:shape":[7831,7721],"description":"Landsat
        Collection 2 Level-2 Atmospheric Transmittance Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"ST_CDIST":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_ST_CDIST.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud Distance Band","eo:bands":[{"gsd":30,"name":"ST_CDIST","description":"distance
        to nearest cloud"}],"proj:shape":[7831,7721],"description":"Landsat Collection
        2 Level-2 Cloud Distance Band Surface Temperature Product","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"QA_RADSAT":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_QA_RADSAT.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Radiometric Saturation
        Quality Assessment Band","proj:shape":[7831,7721],"description":"Collection
        2 Level-1 Radiometric Saturation Quality Assessment Band","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"thumbnail":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_thumb_small.jpeg","type":"image/jpeg","title":"Thumbnail
        image"},"SR_QA_AEROSOL":{"gsd":30.0,"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_SR_QA_AEROSOL.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol Quality Analysis
        Band","proj:shape":[7831,7721],"description":"Collection 2 Level-2 Aerosol
        Quality Analysis Band (ANG) Surface Reflectance","proj:transform":[30.0,0.0,695385.0,0.0,-30.0,-1802985.0]},"reduced_resolution_browse":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2021/217/072/LC08_L2SP_217072_20210909_20210916_02_T1/LC08_L2SP_217072_20210909_20210916_02_T1_thumb_large.jpeg","type":"image/jpeg","title":"Reduced
        resolution browse image"},"tilejson":{"title":"TileJSON with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=landsat-8-c2-l2&items=LC08_L2SP_217072_20210909_02_T1&assets=SR_B4,SR_B3,SR_B2&","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=landsat-8-c2-l2&items=LC08_L2SP_217072_20210909_02_T1&assets=SR_B4,SR_B3,SR_B2&","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-42.74446188,-16.27064967],[-40.96165121,-16.66944524],[-41.38821483,-18.42112096],[-43.17076884,-18.01890298],[-42.74446188,-16.27064967]]]},"collection":"landsat-8-c2-l2","properties":{"datetime":"2021-09-09T12:50:40.186933Z","platform":"landsat-8","proj:bbox":[695385.0,-2037915.0,927015.0,-1802985.0],"proj:epsg":32723,"description":"Landsat
        Collection 2 Level-2 Surface Reflectance Product","instruments":["oli","tirs"],"eo:cloud_cover":15.88,"view:off_nadir":0,"landsat:wrs_row":"072","landsat:scene_id":"LC82170722021252LGN00","landsat:wrs_path":"217","landsat:wrs_type":"2","view:sun_azimuth":54.175292,"view:sun_elevation":53.82982169,"landsat:cloud_cover_land":15.88,"landsat:processing_level":"L2SP","landsat:collection_number":"02","landsat:collection_category":"T1"},"stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://landsat.usgs.gov/stac/landsat-extension/v1.1.0/schema.json"]}],"timeStamp":"2021-09-24T14:30:32.215273+00:00"}'
  recorded_at: 2021-10-23 02:54:31 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2/items/LC08_L2SP_217072_20210909_02_T1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"LC08_L2SP_217072_20210909_02_T1","bbox":[-43.[...]
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/sas/v1/token/landsat-8-c2-l2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"msft:expiry":"2021-09-24T15:15:34Z","token":"st=2021-09-23T14%3A30%3A34Z&se=2021-09-24T15%3A15%3A34Z&sp=rl&sv=2020-02-10&sr=c&skoid=c85c15d6-d1ae-42d4-af60-e2ca0f81359b&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2021-09-24T13%3A30%3A34Z&ske=2021-09-25T14%3A30%3A34Z&sks=b&skv=2020-02-10&sig=uU0CO42uiNJ58itHCepSEfoXzm0iwwlWCKj3o0i2gdw%3D"}'
  recorded_at: 2021-10-23 02:54:31 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search?collections=sentinel-2-l2a&bbox=-47.02148%2C-42.53906%2C-12.98314%2C-17.35063&limit=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"type":"FeatureCollectio[...]
- request:
    method: get
    uri: https://planetarycomputer.microsoft.com/api/sas/v1/token/sentinel-2-l2a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"msft:expiry":"2021-10-23T03:39:31Z","token":"st=2021-10-22T02%3A54%3A31Z&se=2021-10-23T03%3A39%3A31Z&sp=rl&sv=2020-06-12&sr=c&skoid=c85c15d6-d1ae-42d4-af60-e2ca0f81359b&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2021-10-23T01%3A54%3A31Z&ske=2021-10-24T02%3A54%3A31Z&sks=b&skv=2020-06-12&sig=NSMBoGPvt1CJKQrh%2BfN/frOUUvhSuahsAdBF0k3/U6k%3D"}'
  recorded_at: 2021-10-23 02:54:31 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
