http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/search?bbox=-48.19039%2C-16.00871%2C-41.6341%2C-11.91345
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search?bbox=-48.19039%2C-16.00871%2C-41.6341%2C-11.91345&page=2","rel":"next"}],"context":{"matched":57080,"returned":10},"features":[{"type":"Feature","id":"LC08_L1TP_222068_20210608_20210615_01_T1","collection":"LC8_DN-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-47.476304,-12.614823],[-47.502611,-10.505039],[-49.601025,-10.521241],[-49.59048,-12.634374],[-47.476304,-12.614823]]]},"bbox":[-49.601025,-12.634374,-47.476304,-10.505039],"properties":{"bdc:tiles":["222068"],"datetime":"2021-06-08T00:00:00","start_datetime":"2021-06-08T00:00:00","end_datetime":"2021-06-08T00:00:00","created":"2021-06-16T01:43:28","updated":"2021-06-16T01:43:28","eo:gsd":30.0,"eo:bands":[{"name":"B7","common_name":"swir22","description":"","min":0.0,"max":65535.0,"nodata":0.0,"scale":1.0,"center_wavelength":2.2,"full_width_half_max":0.187,"data_type":"uint16"},{"name":"B8","common_name":"pan","description":"","min":0.0,"max":65535.0,"nodata":0.0,"scale":1.0,"center_wavelength":0.59,"full_width_half_max":0.172,"data_type":"uint16"},{"name":"B9","common_name":"cirrus","description":"","min":0.0,"max":65535.0,"nodata":0.0,"scale":1.0,"center_wavelength":1.373,"full_width_half_max":0.02,"data_type":"uint16"},{"name":"B10","common_name":"lwir11","description":"","min":0.0,"max":65535.0,"nodata":0.0,"scale":1.0,"center_wavelength":10.895,"full_wid[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/search?datetime=2018-01-01%2F2018-07-01&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.[...]
