http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac/search?bbox=-55.16335,-4.26325,-49.31739,-1.18355
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_blue.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_nir.tif"},"quality":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_quality.tif"},"red":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_red.tif"},"thumbnail":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30.png"}},"bbox":[-60.6274001674195,-4.42161577411331,-54.5027024983998,-0.366977463266599],"collection":"CB4MOSBR_64","geometry":{"coordinates":[[[-60.512743908,-0.366977463],[-54.502702498,-0.460509706],[-54.511557443,-4.421615774],[-60.627400167,-4.327819917],[-60.512743908,-0.366977463]]],"crs":{"properties":{"name":"EPSG:4674"},"type":"name"},"type":"Polygon"},"id":"CB4MOSBR_64_020021_2020-06-30","links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/CB4MOSBR_64/items/CB4MOSBR_64_020021_2020-06-30","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/CB4MOSBR_64","rel":"parent"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/CB4MOSBR_64","rel":"collection"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac","rel":"root"}],"properties":{"bdc:tile":"020021","datetime":"2020-06-30"},"stac_version":"0.8.0","type":"Feature"},{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/021021/2020-06-29/CB4MOSBR_64_021021_2020-06-29_blue.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/021021/2020-06-29/CB4MOSBR_64_021021_2020-06-29_nir.tif"},"quality":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/021021/2020-06-29/CB4MOSBR_64_021021_2020-06-29_quality.tif"},"red":{"href":"http://brazildatacube.dpi.i[...]
[...]
- request:
    method: post
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac/search
    body:
      encoding: ''
      string: '{"datetime":"2018-01-01/.."}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4A_55/022024/2020-07-09/CB4A_55_022024_2020-07-09_blue.tif"},"green":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4A_55/022024/2020-07-09/CB4A_55_022024_2020-07-09_green.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4A_55/022024/2020-07-09/CB4A_55_022024_2020-07-09_nir.tif"},"quality":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4A_55/022024/2020-07-09/CB4A_55_022024_2020-07-09_quality.tif"},"red":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4A_55/022024/2020-07-09/CB4A_55_022024_2[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//stac/search?datetime=2018-01-01/..&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[{"assets":{"blue":{"href":"http://brazildatacube.dpi.inp[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search?bbox=-55.16335,-4.26325,-49.31739,-1.18355
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"code":404,"description":"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."}
  recorded_at: 2020-08-21 15:15:07 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search?bbox=-48.19039,-16.00871,-41.6341,-11.91345
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/stac/search?bbox=-48.19039%2C-16.00871%2C-41.6341%2C-11.91345&page=2","rel":"next"}],"context":{"matched":4232,"returned":10},"features":[{"type":"Feature","id":"CB4_64_022024_2019-12-31","collection":"CB4_64-1","stac_version":"0.9.0","stac_extensions":["eo"],"geometry":{"type":"Polygon","coordinates":[[[-48.190393422,-12.145398827],[-41.859517164,-11.913450402],[-41.634172736,-15.772942865],[-48.082397258,-16.008711957],[-48.190393422,-12.145398827]]]},"bbox":[-48.1903934215266,-16.0087119571024,-41.6341727355957,-11.9134504016037],"properties":{"bdc:tile":"022024","datetime":"2019-12-31T00:00:00","created":"2020-08-12T11:52:18","updated":"2020-08-12T11:52:18","eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND14","common_name":"green","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND15","common_name":"red","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND16","common_name":"nir","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"CMASK","common_name":"quality","min":0.0,"max":4.0,"nodata":255.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"NDVI","common_name":"ndvi","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"EVI","common_name":"evi","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"eo:cloud_cover":95.0},"assets":{"EVI":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_EVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[6]},"NDVI":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_NDVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[5]},"CMASK":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_CMASK.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[4]},"BAND13":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND13.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[0]},"BAND14":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND14.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[1]},"BAND15":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND15.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[2]},"BAND16":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31_BAND16.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","eo:bands":[3]},"thumbnail":{"href":"http://brazildatacube.dpi.inpe.br/dev/Repository/Warped/CB4_64/022024/2019-12-31/CB4_64_022024_2019-12-31.png","type":"image/png"}},"links":[{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4_64-1/items/CB4_64_022024_2019-12-31","rel":"self"},{"href[...]
- request:
    method: post
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search
    body:
      encoding: ''
      string: '{"datetime":"2018-01-01/.."}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"hr[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search?datetime=2018-01-01/..&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"http://brazildatacube.dpi.inp[...]
[...]
