http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/collections
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"collections":[{"id":"S2_L1C-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"Sentinel-2 - MSI - Level-1C","version":1,"deprecated":false,"description":"Level-1C product provides orthorectified Top-Of-Atmosphere (TOA) reflectance.","license":"","properties":{"eo:gsd":60.0,"eo:bands":[{"name":"EVI","common_name":"evi","description":null,"min":1.0,"max":10000.0,"nodata":0.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"NDVI","common_name":"ndvi","description":null,"min":1.0,"max":10000.0,"nodata":0.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"SCL","common_name":"quality","description":null,"min":1.0,"max":255.0,"nodata":0.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"B01","common_name":"coastal","description":"","min":0.0,"max":10000.0,"nodata":0.0,"scale":0.0001,"center_wavelength":0.4427,[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","vers[...]
[...]
