http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac/search?bbox=-55.16335,-4.26325,-49.31739,-1.18355
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"features":[{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_blue.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_nir.tif"},"quality":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_quality.tif"},"red":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30_red.tif"},"thumbnail":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/020021/2020-06-30/CB4MOSBR_64_020021_2020-06-30.png"}},"bbox":[-60.6274001674195,-4.42161577411331,-54.5027024983998,-0.366977463266599],"collection":"CB4MOSBR_64","geometry":{"coordinates":[[[-60.512743908,-0.366977463],[-54.502702498,-0.460509706],[-54.511557443,-4.421615774],[-60.627400167,-4.327819917],[-60.512743908,-0.366977463]]],"crs":{"properties":{"name":"EPSG:4674"},"type":"name"},"type":"Polygon"},"id":"CB4MOSBR_64_020021_2020-06-30","links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/CB4MOSBR_64/items/CB4MOSBR_64_020021_2020-06-30","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/CB4MOSBR_64","rel":"parent"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/CB4MOSBR_64","rel":"collection"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac","rel":"root"}],"properties":{"bdc:tile":"020021","datetime":"2020-06-30"},"stac_version":"0.8.0","type":"Feature"},{"assets":{"blue":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/021021/2020-06-29/CB4MOSBR_64_021021_2020-06-29_blue.tif"},"nir":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/021021/2020-06-29/CB4MOSBR_64_021021_2020-06-29_nir.tif"},"quality":{"href":"http://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MOSBR_64/021021/2020-06-29/CB4MOSBR_64_021021_2020-06-29_quality.tif"},"red":{"href":"http://brazildatacube.dpi.i[...]
