http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1/items/CB4_64_16D_STK_v001_021027_2020-07-11_2020-07-26?datetime=2018-02-01%2F..&bbox=-48.19039%2C-16.00871%2C-41.6341%2C-11.91345&limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"Feature","id":"CB4_64_16D_STK_v001_021027_2020-07-11_2020-07-26","collection":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-47.735397,-26.882327],[-47.83099,-22.873503],[-54.363335,-22.936682],[-54.368967,-26.947548],[-47.735397,-26.882327]]]},"bbox":[-54.368967,-26.947548,-47.735397,-22.873503],"properties":{"bdc:tiles":["021027"],"datetime":"2020-07-11T00:00:00","start_datetime":"2020-07-11T00:00:00","end_datetime":"2020-07-26T00:00:00","created":"2020-09-09T12:53:57","updated":"2020-09-09T12:53:57","eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND14","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.555,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND15","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.66,"full_width_half_max":0.06,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wave[...]
