http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//collections/MOD13Q1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"","extent":{"spatial":{"bbox":[[-81.2341289508596,-60.0,-30.0,9.99999999999999]]},"temporal":{"interval":[["2000-02-18","2019-11-01"]]}},"id":"MOD13Q1","license":"","links":[{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/MOD13Q1/items","rel":"items"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections","rel":"parent"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections","rel":"root"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac","rel":"root"}],"properties":{"bdc:bands":{"blue":{"data_type":"Int16","description":"","fill":-1000,"max":10000.0,"mime_type":"image/tiff","min":0.0,"name":"blue","resolution_unit":"m","resolution_x":231.656,"resolution_y":231.656,"scale":"0.0001"},"evi":{"data_type":"Int16","description":"","fill":-3000,"max":10000.0,"mime_type":"image/tiff","min":-2000.0,"name":"evi","resolution_unit":"m","resolution_x":231.656,"resolution_y":231.656,"scale":"0.0001"},"ndvi":{"data_type":"Int16","description":"","fill":-3000,"max":10000.0,"mime_type":"image/tiff","min":-2000.0,"name":"ndvi","resolution_unit":"m","resolution_x":231.656,"resolution_y":231.656,"scale":"0.0001"},"nir":{"data_type":"Int16","description":"","fill":-1000,"max":10000.0,"mime_type":"image/tiff","min":0.0,"name":"nir","resolution_unit":"m","resolution_x":231.656,"resolution_y":231.656,"scale":"0.0001"},"red":{"data_type":"Int16","description":"","fill":-1000,"max":10000.0,"mime_type":"image/tiff","min":0.0,"name":"red","resolution_unit":"m","resolution_x":231.656,"resolution_y":231.656,"scale":"0.0001"},"reliability":{"data_type":"Byte","description":"","fill":255,"max":3.0,"mime_type":"image/tiff","min":0.0,"name":"reliability","resolution_unit":"m","resolution_x":231.656,"resolution_y":231.656,"scale":""},"swir2":{"data_type":"Int16","description":"","fill":-1000,"max":10000.0,"mime_type":"image/tiff","min":0.0,"name":"swir2","resolution_unit":"m","resolution_x":231.656,"resolution_y":231.656,"scale":"0.0001"}},"bdc:crs":null,"bdc:cube":false,"bdc:tiles":["010009","011008","011009","011010","011011","012008","012009","012010","012011","012012","013008","013009","013010","013011","013012","014009","014010","014011","014014"],"bdc:wrs":"STG"},"stac_version":"0.8.0"}
  recorded_at: 2020-09-23 00:14:43 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//collections/MOD13Q1?collection_id=MOD13Q1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"","extent":{"spatial":{"bbox":[[-81.2341289508596,-60.0[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/MOD13Q1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"code":404,"description":"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."}
  recorded_at: 2020-09-23 00:14:43 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4_64_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["eo","datacube","version"],"title":"Cbers-4 WFI 16 days","description":null,"license":"","properties":{"bdc:bands_quicklook":["BAND15","BAND16","BAND13"],"eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND14","common_name":"green","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND15","common_name":"red","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND16","common_name":"nir","min":0.0,"max":10000.0,"nodata":-9999.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"CMASK","co[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cubes Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/docs","rel":"service"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/conformance","rel":"conformance"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections","rel":"data"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/search","rel":"search"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4_64_16D_STK-1","rel":"child","title":"CB4_64_16D_STK-1"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4_64-1","rel":"child","title":"CB4_64-1"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/CB4-MUX-L4-SR-CMPAC-1","rel":"child","title":"CB4-MUX-L4-SR-CMPAC-1"},{"href":"http://brazildatacube.dpi.inpe.br/dev/bdc-stac/collections/RF.ANL-1","rel":"child","title":"RF.ANL-1"}]}
  recorded_at: 2020-09-23 00:14:43 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/bdc-stac//collections/CB4_64_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["eo","datacube","[...]
[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"http://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"http://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"http://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"http://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"}[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/collections
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"collections":[{"id":"S2TOA-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"S2TOA","version":1,"deprecated":false,"description":"","license":"","properties":{"eo:gsd":60.0,"eo:bands":[{"name":"B01","common_name":"coastal","description":null,"min":1.0,"max":10000.0,"nodata":0.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint16"},{"name":"B02","common_name":"blue","description":null,"min":1.0,"max":10000.0,"nodata":0.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint16"},{"name":"B03","common_name":"green","description":null,"min":[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/stac/collections/CB4_64_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_64_16D_STK-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","vers[...]
[...]
