http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/stac
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","links":[{"href":"http://brazildatacube.dpi.inpe.br/stac","rel":"self"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64","rel":"child","title":"C4_64"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_16D_MED","rel":"child","title":"C4_64_16D_MED"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_16D_STK","rel":"child","title":"C4_64_16D_STK"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_1M_MED","rel":"child","title":"C4_64_1M_MED"},{"href":"http://brazildatacube.dpi.inpe.br/bdc-stac/0.8.0/collections/C4_64_1M_STK","rel":"child","title":"C4_64_1M_STK"}[...]
